#container {
    display: grid;
    grid-template-areas: 
    'header header header' 
    'left main right';
}

body{
    background-color: rgb(174, 231, 253);
}
#item1 {
    grid-area: header;
    color: white;
    background-color: rgb(250, 175, 175);
    font-size: 30px;
    border:2px solid white;
    padding: 20px;
    width: 200px;
    height: 150px;
    text-align: center
}
#item2 {
    grid-area: left;
    color: white;
    background-color: rgb(250, 175, 175);
    font-size: 30px;
    border:2px solid white;
    padding: 20px;
    width: 200px;
    height: 150px;
    text-align: center
}

#item3 {
    grid-area: main;
    color: white;
    background-color: rgb(250, 175, 175);
    font-size: 30px;
    border:2px solid white;
    padding: 20px;
    width: 200px;
    height: 150px;
    text-align: center;
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: 10;
    
}
#item4 {
    grid-area: right;
    color: white;
    background-color: rgb(250, 175, 175);
    font-size: 30px;
    border:2px solid whitesmoke;
    padding: 20px;
    width: 200px;
    height: 150px;
    text-align: center
}

@media only screen and (max-width:800px){

    #container {
        display: grid;
        grid-template-areas: 
        'header' 
        'left'
        'main' 
        'right';
    }
    
    #item1 {
        grid-area: header;
        color: black;
        background-color: rgb(58, 70, 245);
        font-size: 30px;
        border:2px solid white;
        padding: 20px;
        width: 100px;
        height: 150px;
        text-align: center
    }
}
@keyframes blink {
    from {background-color: rgb(250, 175, 175);}
    to {background-color: white;}
    }