label {
    text-align: center;
    color: rgb(38, 184, 70);
    }

#input1 {
    text-align: center;
    color: palevioletred;
    }

.inputs {
    text-align: center;
    color: rgb(255, 0, 149);
    }